<!DOCTYPE html>
<meta charset="utf-8" />
<link rel="stylesheet" href="/style.css" />
<script type="module" src="/petiteVue.js"></script>
<h1>whiskr</h1>
<div
	v-scope="fetch('api/list').then(r => r.json()).then(facts => ({ facts, subject: '' }))"
>
	<details>
		<summary>all facts</summary>
		<table>
			<thead>
				<tr>
					<th>subject</th>
					<th>predicate</th>
					<th>object</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="fact in facts">
					<td v-text="fact.subject"></td>
					<td v-text="fact.predicate"></td>
					<td v-text="fact.object"></td>
					<td>
						<!-- @click="
						fetch('api/delete', { method: 'POST', body: JSON.stringify($data), headers: { 'Content-Type': 'application/json' } })
							.then(res => res.ok /* && $el[$.parent][$.data].facts.splice($el[$.parent][$.data].facts.indexOf($data), 1) */)
					" -->
						<button
							class="icon-button"
							@click="facts.splice(facts.indexOf($data), 1)"
						>
							🗑️
						</button>
					</td>
				</tr>
				<tr v-data="{ subject: '', predicate: '', object: '' }">
					<td><input v-model="subject" /></td>
					<td><input v-model="predicate" /></td>
					<td><input v-model="object" /></td>
					<!-- @click="
					fetch('api/add', { method: 'POST', body: JSON.stringify($data), headers: { 'Content-Type': 'application/json' } })
						.then(res => res.ok /* && $el[$.parent][$.data].facts.push($data) */ && (subject = '', predicate = '', object = ''))
				" -->
					<td>
						<button
							class="icon-button"
							v-on:click="facts.push($data), subject = '', predicate = '', object = ''"
						>
							+
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</details>
	<div>
		<input placeholder="subject to edit" v-model="subject" />
		<table
			v-data="{ properties: facts.filter(fact => fact.subject === subject) }"
		>
			<thead>
				<th>predicate</th>
				<th>object</th>
			</thead>
			<tbody>
				<tr v-for="properties">
					<!-- v-effect="TODO: delete old value, add new value. to do this we need a way to get the old value??" -->
					<td><input v-model="predicate" /></td>
					<td><input v-model="object" /></td>
				</tr>
				<tr v-data="{ predicate: '', object: '' }">
					<td><input v-model="predicate" /></td>
					<td><input v-model="object" /></td>
					<!-- @click="
					fetch('api/add', { method: 'POST', body: JSON.stringify($data), headers: { 'Content-Type': 'application/json' } })
						.then(res => res.ok /* && $el[$.parent][$.data].facts.push($data) */ && (subject = '', predicate = '', object = ''))
				" -->
					<td>
						<button
							class="icon-button"
							v-on:click="facts.push({ subject, predicate, object }), predicate = '', object = ''"
						>
							+
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
