:root {
	--color-primary: #253046;
	--color-primary-bg: #cad2e2;
	--color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #cad2e2;
		--color-primary-bg: #253046;
	}
}

body {
	color: var(--color-primary);
	background-color: var(--color-primary-bg);
	font-family: sans-serif;
	line-height: 130%;
	padding: 1em;
}

.icon-and-text {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.icon {
	height: 1em;
	width: 1em;
}

.icon-button {
	height: 100%;
	width: 100%;
	display: grid;
	justify-content: center;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	color: unset;
}

.semantic-ul {
	margin-block-start: 0;
	padding-inline-start: 0;
	list-style-type: none;
}
